---
layout: handbook-page-toc
title: "Quality Bug Open vs Closed rate (temporary)"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Quality Bug Open vs Closed rate

> **Note::** This handbook page is only a temporary place for these charts. They will be moving to a [centralized location](https://gitlab.com/groups/gitlab-org/-/epics/3580) along with other metrics that pertain to an engineering group.

These charts show the number of `bug` issues that are labelled `severity::1` or `severity::2` that are opened and closed within the same month, along with the net difference between the two counts.

### All stages

<embed width="100%" height="500" src="<%= signed_periscope_url(bugs_open_vs_closed_rate_params) %>">

<% data.stages.stages.each do |stage_name, _| %>
<%= "### #{stage_name.titleize}" %>

<embed width="100%" height="500" src="<%= signed_periscope_url(bugs_open_vs_closed_rate_params(stage: stage_name)) %>">
<% end %>
